<button class="bg-v9_blue hover:bg-v9_off_white text-white hover:text-v9_blue text-lg border-2 border-v9_blue h-12 px-16 flex items-center justify-center transition-all duration-300">
    <slot />
</button>
