---

// IMPORTS ASTRO ATOMS
import ButtonPrimary from "@/atoms/button/primary/index.astro"
import Link from "@/atoms/link/index.astro"

const data = {

    cover: "/hardcoded/v9-hero.jpg",
    title: "TURN UP YOUR",
    sub_title: "REVENUE",
    description: "Build a Steady Stream of Traffic and Conversions",
    button_text: "Let’s Talk",
    button_link: "/lets-talk"

}

---
<section class="flex flex-col gap-10 items-center justify-center w-full h-full bg-no-repeat bg-cover bg-bottom mac:pb-44 md:mt-40" style=`background-image: url(${ data.cover })`>
    <span class="text-5xl text-v9_orange text-center font-lato">{ data.title }</span>
    <span class="text-7xl text-v9_blue text-center font-lato font-bold">{ data.sub_title }</span>
    <span class="text-xl text-v9_black text-center font-lato font-bold w-60">{ data.description }</span>
    <Link href={ data.button_link } aria_label={ data.button_text }>
        <ButtonPrimary>{ data.button_text }</ButtonPrimary>
    </Link>
</section>
