---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import TestimonialCard from "@/components/home/testimonials/card/index.astro"

const data = [{

    title: "Extension of Team",
    description: "As a startup in a very competitive industry, we know how critical digital marketing is for our business. Our marketing team is small, so we are fortunate that Volume Nine can perform as a true partner and extension of our own internal team. We are very pleased with how the V9 team is helping us leverage digital to not only drive online traffic and brand awareness but also increase our in-store product sales.",
    client_name: "Katie Lowry",
    client_designation: "Brand Manager at PanTheryx, Inc",
    cover: "/hardcoded/client.png"

},
{

title: "Great to Work With",
description: "I have really enjoyed having the opportunity to work with Volume Nine, they have done wonders for our social media campaigns. Our engagement on social media has increased significantly. They do a really good job of posting relevant material on our Facebook, Twitter, Pinterest, all across the board, and really get people excited about our brand and what it is that we have to offer.",
client_name: "Tia Gerdson",
client_designation: "AVP of Marketing at CCU",
cover: "/hardcoded/client_2.png"

}]

---
<section class="py-20">
    <Container>
        <section class="grid grid-cols-2 gap-32">
            {

                data.map( ( value ) => {

                    return(
                        <TestimonialCard
                            client_designation={ value.client_designation }
                            client_name={ value.client_name }
                            cover={ value.cover }
                            description={ value.description }
                            title={ value.title }
                        />
                    )

                })

            }
        </section>
    </Container>
</section>
