---

// IMPORTS JSX COMPONENTS
import NewsletterForm from "@/components/common/footer/newsletter/form/index.jsx"

---
<section class="space-y-4">
    <p class="text-v9_light_gray font-lato font-bold">Subscribe to V9 Insights via Email</p>
    <p class="text-v9_light_gray font-lato">Sign up for our trends, commentary, analysis, and maybe an occasional joke.</p>
    <NewsletterForm
        client:load
    />
</section>
