---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORTS ASTRO COMPONENTS
import Footer from "@/components/common/footer/index.astro"
import Header from "@/components/common/header/index.astro"
import HeaderBanner from "@/components/common/header-banner/index.astro"

---
<HeaderBanner />
<Header />
<section class="bg-zinc-200 py-10">
    <Container>
        <p class="text-black">I am home</p>
    </Container>
</section>
<Footer />
