---

// IMPORTS ASTRO ATOMS
import SocialIcon from "@/atoms/footer/social-icon/index.astro"

---
<div class="flex gap-4">
    <SocialIcon
        alternative_text="instagram icon"
        href="https://www.instagram.com/volume_nine/"
        source="/icons/instagram.svg"
    />
    <SocialIcon
        alternative_text="facebook icon"
        href="https://www.facebook.com/volume9inc"
        source="/icons/facebook.svg"
    />
    <SocialIcon
        alternative_text="youtube icon"
        href="https://www.youtube.com/user/volume9inc"
        source="/icons/youtube.svg"
    />
    <SocialIcon
        alternative_text="x icon"
        href="https://twitter.com/volumenine"
        source="/icons/x.svg"
    />
    <SocialIcon
        alternative_text="linkedin icon"
        href="https://www.linkedin.com/company/621107"
        source="/icons/linkedin.svg"
    />
</div>
